<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename="css/contacto.css") }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename="css/footer.css") }}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap" rel="stylesheet">
    <title>Projecto-Creche</title>
</head>
<body>
    <header class="menuOutrasPaginas">
        <nav class="menu"> 
            <div class="logoMarca">
                <a href="./index.html"><h2 class="logo">Sorrizos</h2></a>
            </div>        
            <ul>
                <li><a href="./index.html">Início.</a></li>
                <li><a href="./galeria.html">Galeria.</a></li>
                <li><a href="./sobreNos.html">Sobre Nós.</a></li>  
                <li><a href="./contacto.html">Contacto.</a></li>                            
            </ul>
        </nav> 

        <div  class="pesquisar">
            <input type="search" class="pesquisarInput" placeholder="Pesquisar">
        </div>
   </header>
 
   <section>
    <div class="container">
        <div class="grid">
            <div class="content">
                <h1>Entrar em contacto com o nosso centro.</h1>
                <p>Teremos muito gosto em ouvi-lo, diz-nos quais são as tuas sugestões ou dúvidas.</p>
                
            </div>
            <div class="form">
                <form action="#">
                    <div class="flex">
                        <input type="text" name="" id="" placeholder="Nome">
                        <input type="email" name="" id="" placeholder="Email">
                    </div>
                    <input type="text" name="" id="" placeholder="Assunto">
                    <textarea name="" id="" cols="30" rows="8" placeholder="Mensagem"></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer-content">
        <h3>Centro Infantil Sorrizos</h3>
        <p>Siga-nos nas redes sociais e receba diariamente as novidades!</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy; UCAN 2021 Sorrizos. Feito Por <span>Mateus Escutelo</span></p>
    </div>
</footer>
</body>
</html>