{% extends 'mainTemplate.html' %}
{% block body %} 

<section>   

    <div class="container">
        <div>
            <h3 style="color: darkorange;
                        position: relative;
                        left: 25%;
                        font-size: 24px;
                        margin: 15px;
            ">Livros e programas que ensinamos :</h3>
        </div>
        <div class="grid">
            <div class="blog_card">                   
                <div class="blog_img">
                    <img src="../img/arquivoexibir.jpg"
                        alt="">
                </div>
                <div class="blog_content">
                    <div class="date">
                        <ion-icon name="time-outline"></ion-icon>
                        Veja as Opções de cuidados dos mais pequenos
                    </div>
                    <div class="title">
                        <h1>0 - 3 Anos</h1>
                    </div>
                    <div class="row">
                        <a href="#" class="btn">Saber mais<ion-icon name="arrow-forward-outline"></ion-icon></a>
                        <p><ion-icon name="chatbox-outline"></ion-icon>50 Alunos</p>
                    </div>
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="../img/download.jpeg" alt="">
                </div>
                <div class="blog_content">
                    <div class="date">
                        <ion-icon name="time-outline"></ion-icon>
                        Cuidamos de Todos os pequeninos.
                    </div>
                    <div class="title">
                        <h1>3 - 5 Anos</h1>
                    </div>
                    <div class="row">
                        <a href="#" class="btn">Saber mais<ion-icon name="arrow-forward-outline"></ion-icon></a>
                        <p>
                            <ion-icon name="chatbox-outline"></ion-icon>25 Alunos
                        </p>
                    </div>
                </div>
            </div>
            <div class="blog_card">
                <div class="blog_img">
                    <img src="../img/ecbdfc488722b8befdeb0f8dec08770a.jpg"
                        alt="">
                </div>
                <div class="blog_content">
                    <div class="date">
                        <ion-icon name="time-outline"></ion-icon>
                        Cuidamos de Todos os pequeninos.
                    </div>
                    <div class="date">
                        <ion-icon name="time-outline"></ion-icon>
                        
                    </div>
                    <div class="title">
                        <h1>6 - 9 Anos</h1>
                    </div>
                    <div class="row">
                        <a href="#" class="btn">Saber mais<ion-icon name="arrow-forward-outline"></ion-icon></a>
                        <p>
                            <ion-icon name="chatbox-outline"></ion-icon>20 Alunos
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </article>
</section>


<section>   

<div class="container">
    <div>
        <h3 style="color: darkorange;
                    position: relative;
                    left: 25%;
                    font-size: 24px;
                    margin: 15px;
        ">Cuidamos dos pequeninos das seguintes idades :</h3>
    </div>
    <div class="grid">
        <div class="blog_card">                   
            <div class="blog_img">
                <img src="../img/steven-libralon-Do1GQljlNk8-unsplash.jpg"
                    alt="">
            </div>
            <div class="blog_content">
                <div class="date">
                    <ion-icon name="time-outline"></ion-icon>
                    Veja as Opções de cuidados dos mais pequenos
                </div>
                <div class="title">
                    <h1>0 - 3 Anos</h1>
                </div>
                <div class="row">
                    <a href="#" class="btn">Saber mais<ion-icon name="arrow-forward-outline"></ion-icon></a>
                    <p><ion-icon name="chatbox-outline"></ion-icon>50 Alunos</p>
                </div>
            </div>
        </div>
        <div class="blog_card">
            <div class="blog_img">
                <img src="../img/
                +++++++++++joao-rafael-xxwRujAXctY-unsplash.jpg" alt="">
            </div>
            <div class="blog_content">
                <div class="date">
                    <ion-icon name="time-outline"></ion-icon>
                    Cuidamos de Todos os pequeninos.
                </div>
                <div class="title">
                    <h1>3 - 5 Anos</h1>
                </div>
                <div class="row">
                    <a href="#" class="btn">Saber mais<ion-icon name="arrow-forward-outline"></ion-icon></a>
                    <p>
                        <ion-icon name="chatbox-outline"></ion-icon>25 Alunos
                    </p>
                </div>
            </div>
        </div>
        <div class="blog_card">
            <div class="blog_img">
                <img src="../img/raissa-lara-lutolf-fasel-ivKWcUFJQtE-unsplash.jpg"
                    alt="">
            </div>
            <div class="blog_content">
                <div class="date">
                    <ion-icon name="time-outline"></ion-icon>
                    Cuidamos de Todos os pequeninos.
                </div>
                <div class="date">
                    <ion-icon name="time-outline"></ion-icon>
                    
                </div>
                <div class="title">
                    <h1>6 - 9 Anos</h1>
                </div>
                <div class="row">
                    <a href="#" class="btn">Saber mais<ion-icon name="arrow-forward-outline"></ion-icon></a>
                    <p>
                        <ion-icon name="chatbox-outline"></ion-icon>20 Alunos
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</article>
</section>  
{% endblock %}