<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename="css/principal.css") }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename="css/footer.css") }}" rel="stylesheet" />
    <link href="../css/footer.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap" rel="stylesheet">
</head>
<body>
    <header class="menuHeader">
        <nav class="menu"> 
            
            <div class="logoMarca">
                <a href="#">
                    <h2 class="logo">Sorrizos</h2>                   
                </a>
               
            </div>     
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="./galeria.html">Galeria</a></li>
                <li><a href="./sobreNos.html">Sobre Nós</a></li>  
                <li><a href="./contacto.html">Contacto</a></li>                            
            </ul>
        </nav> 

        <div class="pesquisar">
            <input type="search" class="pesquisarInput" placeholder="Pesquisar">
            <a href="#"><button class="btnBuscar">Buscar</button></a>
        </div>

        <div class="tema">
            <h1>Centro Infantil <br><span>Sorrizos</span><br></h1>
            <p class="paragrafoPrincipal">
                Educar a criança, apoiar a família e, com a comunidade construir um futuro desafiante assente <br> numa história de referência.
                Estamos localizados na Urbanização nova vida. <br>
                Veja a nossa pagina de contacto e disponha qualquer dúvidas!
            </p>
            <button class="btnInscrever"><a id="btnPrincipal" href="./index.html">Saber mais</a></button>
        </div>
   </header>
 
</body>
</html>